@font-face {
  font-family: 'Monument extended';
  src: url(../assets/MonumentExtended-Regular.otf);
}

body{
  background-color: #171717;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.greeting {
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
  margin: 0;
  margin-left: 5rem;
  padding: 0;
}

.greeting h5 {
  margin: 0;
  padding: 0;
  margin-bottom: 3vh;
  font-size: 28px;
  letter-spacing: 1px;
}

.greeting h1 {
  margin: 0;
  padding: 0;
}

.header {
  margin-left: 5rem;
  display: flex;
  background-image: url("../img/capa.png");
  align-items: end;
  flex: 1;
  width: 100%;
  height: 100%;
  /* background: blue; */
}

.header img {
  position: absolute;
  z-index: 99;
}

.slide, .slide2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide img, .slide2 img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

.slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-bottom: 120px;
}

/* Slideshow */
.slideshow {
  position: relative;
  width: 500px;
  height: 500px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
  .project{
    margin-top: 30vh;
    margin-bottom: 60px;
  }

  .infinite{
    padding-left: 7rem;
    margin-bottom: 150px;
  }

  .infinite ul {
    display: flex;
    overflow: hidden;
    list-style: none;
  }

  .infinite li {
    display: flex;
    width: fit-content;
  }

  .infinite li p {

    color: #fff;
    font-size: 29px;
    width: fit-content;
    flex-wrap: nowrap;
    font-family: "Monument extended";
  }

  .infinite img{
    width: 2.5rem;
    margin-bottom: -0.4%;
    margin-right: 10px;
    margin-left: 10px;
  }
  .infinite {
    overflow: hidden;
    animation: texto 15s linear infinite;
  }

  @keyframes texto {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
  .mid{
    margin-bottom: 150px;
  }
  .line{
    padding-left: 14.7rem;
    margin-bottom: 100px;
  }
  .line2{
    padding-left: 20rem;
    margin-bottom: 100px;
    
  }
.bar{
  width:fit-content;
  position: relative;
}

.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.first-div{
  padding-left: 13.5rem;
}

.second-div{
  position: relative;
  left: -10rem;
}
.second-div img{
  height: 12rem;
}
.stay img{
  width: fit-content;
  position: relative;
  top: -5px;
  height: 1.9px;
  width: 11.2rem;
}
.last-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name{
  padding-left: 7.2rem;
  z-index: 99;
  position: relative;
}
.last-footer .name h5{
   z-index: 99;
}
.final img{
  position: absolute;
  left: 8.5rem;
  bottom: 0.6rem;

}
.final{
  position: relative;
  left: 5rem;
}

.last-image{
    position: relative;
    left: -11rem;
    cursor: pointer;
}

@media (max-width: 1200px){
  .container{
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
}
}
@media (max-width: 991px) {
  .container{
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
}
}
@media (max-width: 768px) { 
  .container{
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
}
}
@media (max-width: 560px) {
  .container{
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
}
}