@font-face {
  font-family: 'Monument extended';
  src: url(../assets/MonumentExtended-Regular.otf);
}

html {
  overflow-x: hidden;
}

body{
  background-color: #171717;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.image-container {
  position: relative;
  width: 100%; 
  height: 400px; 
  overflow: hidden;
  border-radius: 12px;
}


.image-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/capa3.jpg');
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}


.greeting {
  display: flex;
  flex-direction: column;
  z-index: 99;
  margin: 0;
  padding: 0;
  
}

.greeting h5 {
  margin: 0;
  padding: 0;
  margin-bottom: 3vh;
  font-size: 28px;
  letter-spacing: 1px;
}

.greeting h1 {
  margin: 0;
  padding: 0;
}

.header {
  margin-left: 5rem;
  display: flex;
  align-items: end;
  flex: 1;
  width: 100%;
  height: 100%;
}

.slide, .slide2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide img, .slide2 img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
}

.slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-bottom: 120px;
  margin: 0 15vw;

  
}

.slideshow {
  position: relative;
  width: 500px;
  height: 500px;
 
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
  .project{
    margin-top: 15vh;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }

  .infinite ul {
    display: flex;
    list-style: none;
    animation: 15s slide infinite linear;
    white-space: nowrap;
   
  }

  .infinite li {
    display: flex;
    width: fit-content;
    
  }
  .infinite img{
    width: 2.5rem;
    margin-bottom: -0.4%;
    margin-right: 10px;
    margin-left: 10px;
  }

  .infinite {
    flex-direction: column;
    width: 100%;
    margin-bottom: 150px;
    margin-top: 10rem;
  }

  .infinite li p {
    color: #fff;
    font-size: 32.5px;
    width: fit-content;
    font-family: "Monument extended";
    
  }

  .mid{
    margin-bottom: 150px;
  }
  .line{
    padding-left: 14.7rem;
    margin-bottom: 100px;
  }
  .line2{
    padding-left: 20rem;
    margin-bottom: 100px;
    
  }
.bar{
  width:fit-content;
  position: relative;
}

.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.first-div{
  padding-left: 13.5rem;
}

.second-div{
  position: relative;
  left: -10rem;
}
.second-div img{
  height: 12rem;
}
.stay img{
  width: fit-content;
  position: relative;
  top: -5px;
  height: 1.9px;
  width: 11.2rem;
}
.last-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name{
  padding-left: 7.2rem;
  z-index: 99;
  position: relative;
}
.last-footer .name h5{
   z-index: 99;
}
.final img{
  position: absolute;
  left: 8.5rem;
  bottom: 0.6rem;

}
.final{
  position: relative;
  left: 5rem;
}

.last-image{
    position: relative;
    left: -11rem;
    cursor: pointer;
}
.line-svg{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-left: 15vw;
  margin-right: 15vw;
}
.flex h4{
  margin-top: 4rem;
  margin-bottom: 4rem;
  color: #D9D9D9;
  font-family: "Monument Extended";
  font-size: 14px;
}
.flex img{
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.little{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
 
}
.little h5{
  color: #D9D9D9;
  text-align: center;
  font-family: "Monument Extended";
  font-size: 20px;
  margin: 5rem;
} 

.space{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



