@media (min-width: 2200px){
    header{
      margin-top: 5rem;
   }
  
    .greeting .image-container{
      width: 800px;
      height: 620px;
   }
    .slideshow-container .slideshow {
      width: 750px;
      height: 750px;
   }
    .post {
      display: flex;
      gap: 150px;
      height: auto;
      margin: 0 auto;
      padding: 0px 5px;
  
    }
  
    }
    
  
  
  @media (max-width: 1500px) {
    html {
      overflow-x: hidden;
    }
    .image-container{
      margin-top: 50rem;
    }
    .header{
      position: absolute;
    }
    .post {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .project h2{
      margin-top: 35rem;
    }
    
  }
@media (max-width: 1250px){
    
    .container{
      width: 100%;
      max-width: 100rem;
      margin: 0 auto;
    }
    .slideshow-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;

    }
    .project h2{
      margin-top: 45rem;
    }
    .flex {
      flex-direction: column;
    }
}
  @media (max-width: 880px) {
    .flex{
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;

    }
    .flex img{
      margin-top: 3rem;
    }
   
}

  @media (max-width: 768px) {
   header{
    position: relative;
    width: 400px;
   }
   .greeting h1{
    font-size: 80px;
   }
   .slideshow-container .slideshow {
    width: 280px;
    height: 280px;
   }
}
  @media (max-width: 560px) {

    .s-digital .container .post .description h3 {
      font-size: 20px;
    }
    .s-digital .container .post .description h5{
      font-size: 15px;
    }
    
    
    .project h2{
      font-size: 40px;
      margin-top: 40rem;
    }
    
    .flex{
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      
    }
    .flex img{
      margin-top: 2rem;
      height: 90px;
    }
    footer .space{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      padding: 0;
    }
  }
  @media (max-width: 440px){
    header{
      position: relative;
      width: 300px;
    }
    .s-digital .container .post .s-right{
      margin-top: -7rem;
    }
  
    .infinite ul{
      margin-top: -5rem;
      margin-bottom: -5rem;
    }
    .greeting h1 {
      font-size: 60px;
    }
    .project h2{
      margin-top: 30rem;
    }
    .flex div h4{
      font-size: 11px;
    } 
    .flex img{
      height: 75px;
    }
  }
